#### **Importing Libraries**
- Numpy
- Pandas
- Seaborn
- Matplotlib
- Warning

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

- importing the dataset as Pandas DataFrame

In [6]:
df=pd.read_csv(r"D:\MLProjects\notebook\Data\StudentsPerformance.csv")

In [7]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [8]:
df.shape

(1000, 8)

#### **Data Checks To Perform**
1. checking missing values
2. check duplicate
3. check datatype
4. check number of unique values for each column
5. check statistics of dataset
6. check various categories present in different categorical column

In [9]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [10]:
df.duplicated().sum()

0

In [11]:
#check null and datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [12]:
# check unique values
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [13]:
# statistics of data
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [14]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

#### **Dataset Categories**

In [15]:

print("race/ethnicity: ",df['race/ethnicity'].unique())
print("parental level of education: ",df['parental level of education'].unique())
print("lunch: ",df['lunch'].unique())
print("Gender: ",df['gender'].unique())
print("test preparation course: ",df['test preparation course'].unique())

race/ethnicity:  ['group B' 'group C' 'group A' 'group D' 'group E']
parental level of education:  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
lunch:  ['standard' 'free/reduced']
Gender:  ['female' 'male']
test preparation course:  ['none' 'completed']

In [16]:
# defining numerical and categorical features
numerical_features=[feature for feature in df.columns if df[feature].dtype!='object']
categorical_features=[feature for feature in df.columns if df[feature].dtype=='object']

In [17]:
print("we have {} numeric features: {}".format(len(numerical_features),numerical_features))
print("we have {} categorical features: {}".format(len(categorical_features),categorical_features))

we have 3 numeric features: ['math score', 'reading score', 'writing score']
we have 5 categorical features: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

#####  **Adding columns for Total Scores And Average Scores**

In [18]:
df['Total Scores']=df['math score']+df['writing score']+df['reading score']
df['Average Scores']=df['Total Scores']/3

In [19]:
df.head(3)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total Scores,Average Scores
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667

#### **Analysing Student Performance**

In [22]:
reading_full=df[df['reading score']==100]['Average Scores'].count()
writing_full=df[df['writing score']==100]['Average Scores'].count()
math_score=df[df['math score']==100]['Average Scores'].count()
print("Reading Scors 100 out 100: ",reading_full)
print("writing Score full: ",writing_full)
print("maths score full: ",math_score)

Reading Scors 100 out 100:  17
writing Score full:  14
maths score full:  7

In [28]:
reading_less_20=df[df['reading score']<=20]['Average Scores'].count()
writing_less_20=df[df['writing score']<=20]['Average Scores'].count()
maths_less_20=df[df['math score']<=20]['Average Scores'].count()
print("writing less than 20 ",writing_less_20)
print("reading less than 20",reading_less_20)

print("maths less than 20 ",maths_less_20)

writing less than 20  3
reading less than 20 1
maths less than 20  4